/*----------------------------------------*/
/*----- Basic typo -----*/
/*----------------------------------------*/
body { color: rgba(25,28,47,0.65); background-color: #fff; }
h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { color: #191c2f; }
a { color: #191c2f; }
a:hover { color: #1732a4; }
/*----------------------------------------*/
/*----- Backgrounds -----*/
/*----------------------------------------*/
.bg-trans { background-color: transparent !important; }
.bg-white { background-color: #fff !important; }
.bg-grey { background-color: #f3f5fa !important; }
.bg-dark-grey { background-color: rgba(25,28,47,0.65) !important; }
.bg-dark { background-color: #191c2f !important; }
.bg-blue { background-color: #1732a4 !important; }
.bg-light-blue { background-color: #d1d6ed !important; }
.bg-dark-blue { background-color: #1732a4 !important; }
.bg-red { background-color: #ff5858 !important; }
.bg-light-red { background-color: #ffcdcd !important; }
/*----------------------------------------*/
/*----- Overlays -----*/
/*----------------------------------------*/
.ck-overlay { background-color: rgba(0, 0, 0, .5); }
.ck-overlay-blue { background-color: rgba(23, 50, 164, .9); }
.ck-overlay-red { background-color: rgba(255, 88, 88, .9); }
/*----------------------------------------*/
/*----- Text -----*/
/*----------------------------------------*/
/*== dark ==*/
.color-dark { color: #191c2f; }
/*== white ==*/
.color-white, .color-white h1, .color-white h2, .color-white h3, .color-white h4, .color-white h5, .color-white h6, .color-white a { color: #fff; }
/*== white muted ==*/
.color-white-muted, .color-white-muted h1, .color-white-muted h2, .color-white-muted h3, .color-white-muted h4, .color-white-muted h5, .color-white-muted h6, .color-white-muted a { color: rgba(255,255,255,.6); }
/*== grey ==*/
.color-grey { color: rgba(23,50,164,0.10) !important; }
.color-grey-muted { color: #e7eaf6 !important; }
/*== blue ==*/
.color-blue { color: #1732a4 !important; }
/*== red ==*/
.color-red { color: #ff5858 !important; }
.color-red-muted { color: #ffecec !important; }
/*== yellow ==*/
.color-yellow { color: #fff600 !important; }
/*----------------------------------------*/
/*----- Borders -----*/
/*----------------------------------------*/
.border-white { border-color: #fff !important; }
.border-white-muted, .border-white-muted li { border-color: rgba(255,255,255,0.10) !important; }
.border-grey { border-color: rgba(23,50,164,0.10) !important; }
.border-blue { border-color: #1732a4 !important; }
.border-dark { border-color: rgba(25,28,47,0.65) !important; }
.border-red { border-color: #ff5858 !important; }
/*----------------------------------------*/
/*----- Buttons -----*/
/*----------------------------------------*/
#submit, input[type="submit"] { background-color: #191c2f; border-color: #191c2f; color: #fff; }
#submit:hover, input[type="submit"]:hover { color: #fff; }
.ck-btn i { color: inherit !important; }
/*-- white --*/
.btn-white { background-color: #fff; border-color: rgba(23,50,164,0.10); color: #191c2f; }
.btn-white:hover { background-color: #fff; border-color: rgba(23,50,164,0.10); color: #191c2f; }
.btn-flat-white { border-color: #fff; color: #fff; }
.btn-flat-white:hover { border-color: #ff5858; background-color: #ff5858; color: #ffffff; }
/*-- grey --*/
.btn-grey { background-color: #f3f5fa; border-color: #f3f5fa; color: #191c2f; }
.btn-grey:hover { background-color: #f3f5fa; border-color: #f3f5fa; color: #191c2f; }
.btn-flat-grey { border-color: #f3f5fa; color: #191c2f; }
.btn-flat-grey:hover { background-color: #f3f5fa; color: #191c2f; }
/*-- blue --*/
.btn-blue { background-color: #1732a4; border-color: #1732a4; color: #fff; }
.btn-blue:hover { background-color: #1732a4; border-color: #1732a4; color: #fff; }
.btn-flat-blue { border-color: #1732a4; color: #1732a4; }
.btn-flat-blue:hover { background-color: #1732a4; color: #fff; }
/*-- red --*/
.btn-red { background-color: #ff5858; border-color: #ff5858; color: #fff; }
.btn-red:hover { background-color: #191c2f; border-color: #191c2f; color: #fff; }
.btn-flat-red { border-color: #ff5858; color: #ff5858; }
.btn-flat-red:hover { background-color: #ff5858; color: #fff; }
/*----------------------------------------*/
/*----- Forms -----*/
/*----------------------------------------*/
label, input, select, textarea, input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="number"], input[type="tel"], input[type="search"] { color: #191c2f; }
select, textarea, input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="number"], input[type="tel"], input[type="search"] { background-color: #fff; }
select, textarea, input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="number"], input[type="tel"], input[type="search"] { border-color: #e7eaf6; }
textarea:focus, input[type="text"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="password"]:focus, input[type="number"]:focus, input[type="tel"]:focus, input[type="search"]:focus { border-color: #1e38a7; outline: none; }
.ck-form .error { color: #ff5858; }
/* placeholder */
::-webkit-input-placeholder {
color: rgba(25,28,47,0.35) !important;
opacity: 1;
font-size: 95%;
}
:-moz-placeholder {
color: rgba(25,28,47,0.35) !important;
opacity: 1;
font-size: 95%;
}
::-moz-placeholder {
color: rgba(25,28,47,0.35) !important;
opacity: 1;
font-size: 95%;
}
:-ms-input-placeholder {
color: rgba(25,28,47,0.35) !important;
opacity: 1;
font-size: 95%;
}
/*===== form on dark background =====*/
.ck-form-dark-bg select, .ck-form-dark-bg textarea, .ck-form-dark-bg input[type="text"], .ck-form-dark-bg input[type="email"], .ck-form-dark-bg input[type="url"], .ck-form-dark-bg input[type="password"], .ck-form-dark-bg input[type="number"], .ck-form-dark-bg input[type="tel"], .ck-form-dark-bg input[type="search"] { background-color: transparent; }
.ck-form-dark-bg label, .ck-form-dark-bg input, .ck-form-dark-bg select, .ck-form-dark-bg textarea, .ck-form-dark-bg input[type="text"], .ck-form-dark-bg input[type="email"], .ck-form-dark-bg input[type="url"], .ck-form-dark-bg input[type="password"], .ck-form-dark-bg input[type="number"], .ck-form-dark-bg input[type="tel"], .ck-form-dark-bg input[type="search"] { color: #fff; }
.ck-form-dark-bg select, .ck-form-dark-bg textarea, .ck-form-dark-bg input[type="text"], .ck-form-dark-bg input[type="email"], .ck-form-dark-bg input[type="url"], .ck-form-dark-bg input[type="password"], .ck-form-dark-bg input[type="number"], .ck-form-dark-bg input[type="tel"], .ck-form-dark-bg input[type="search"] { border-color: rgba(255, 255, 255, .2); }
.ck-form-dark-bg .ck-form-subtext { color: rgba(255,255,255,0.60) !important; }
.ck-form-dark-bg textarea:focus, .ck-form-dark-bg input[type="text"]:focus, .ck-form-dark-bg input[type="email"]:focus, .ck-form-dark-bg input[type="url"]:focus, .ck-form-dark-bg input[type="password"]:focus, .ck-form-dark-bg input[type="number"]:focus, .ck-form-dark-bg input[type="tel"]:focus, .ck-form-dark-bg input[type="search"]:focus { border-color: rgba(255, 255, 255, .6); outline: none; }
/* placeholder */
.ck-form-dark-bg ::-webkit-input-placeholder {
color: rgba(255,255,255,0.25) !important;
opacity: 1;
font-size: 95%;
}
.ck-form-dark-bg :-moz-placeholder {
color: rgba(255,255,255,0.25) !important;
opacity: 1;
font-size: 95%;
}
.ck-form-dark-bg ::-moz-placeholder {
color: rgba(255,255,255,0.25) !important;
opacity: 1;
font-size: 95%;
}
.ck-form-dark-bg :-ms-input-placeholder {
color: rgba(255,255,255,0.25) !important;
opacity: 1;
font-size: 95%;
}
/*----------------------------------------*/
/*----- Header -----*/
/*----------------------------------------*/
/*===== Header =====*/
#ck-header-global { background-color: #fff; }
#ck-header-global.trans-header { background-color: transparent; }
#ck-header-global.on-scroll { background-color: #fff; }
#ck-header-global.on-scroll .on-scroll-color-dark { color: #191c2f !important; }
/*----------------------------------------*/
/*----- Footer -----*/
/*----------------------------------------*/
.ck-footer-main { background-color: #191c2f; } 
.ck-copyright { background-color: #ff5858; }
.ck-footer-main h1, .ck-footer-main h2, .ck-footer-main h3, .ck-footer-main h4, .ck-footer-main h5, .ck-footer-main h6 { color: #fff; } 
.ck-footer-main, .ck-footer-main a, .ck-copyright, .ck-copyright a { color: #fff; }
.ck-copyright a:hover, .ck-footer-main a:hover { color: rgba(255,255,255, .50); }
.ck-footer-main .ck-list-border li { border-color: rgba(255, 255, 255, .10); }
/*----------------------------------------*/
/*----- Menu -----*/
/*----------------------------------------*/
/* menu for dark background */
.ck-menu-light .nav-link { color: rgba(255, 255, 255, .5); }
.ck-menu-light .active { color: #fff; }
.ck-menu-light .nav-link:hover { color: #fff; }
.ck-menu-light .active:hover { color: #1732a4; }
.ck-menu-light .sf-menu:first-child > li a::before, .ck-menu-light .sf-menu:first-child > li a:hover::before, .ck-menu-light .sf-menu:first-child > li a.active:before { background-color: #ff5858; }
/* menu for light background */
.ck-menu-dark .nav-link { color: #191c2f; }
.ck-menu-dark .active { color: #1732a4; }
.ck-menu-dark .nav-link:hover { color: #1732a4; }
.ck-menu-dark .active:hover { color: #1732a4; }
.ck-menu-dark .sf-menu:first-child > li a::before, .ck-menu-dark .sf-menu:first-child > li a:hover::before, .ck-menu-dark .sf-menu:first-child > li a.active:before { background-color: #ff5858; }
/* dropdown link color */
.sf-menu .sub-menu li a { color: rgba(25,28,47,0.65); }
.sf-menu .sub-menu li a:hover, .sf-menu .sub-menu li .active { background: rgba(23,50,164,0.05); color: #1732a4; }
.sf-menu .sub-menu { background-color: #fff; }
.sf-menu .sub-menu a { border-bottom-color: #eee; }
/*===== Responsive header =====*/
.ck-responsive-header { background-color: #fff; }
.ck-hamburger-lines, .ck-hamburger-lines:after, .ck-hamburger-lines:before { background-color: #191c2f; }
.slicknav_nav, .slicknav_menu { background-color: #fff; }
.slicknav_nav li, .slicknav_nav .dropdown-item { border-color: rgba(23,50,164,0.10); }
.slicknav_nav, .slicknav_nav a, .slicknav_menu .slicknav_menutxt { color: #191c2f; }
.slicknav_nav a:hover, .slicknav_nav .slicknav_row:hover, .slicknav_nav .slicknav_row:hover a, .slicknav_nav a.active { color: #1732a4; }
.slicknav_nav .dropdown-item.active, .slicknav_nav .dropdown-item:hover, .slicknav_nav .dropdown-item:focus { background-color: transparent; }
/*----------------------------------------*/
/*----- Elements -----*/
/*----------------------------------------*/
/*====== preloader =====*/
.ck-preloader { background: #1732a4; }
.ck-loader { color: #fff; }
/*===== feature =====*/
.ck-feature-circle-icon .ck-feature-img, .ck-feature-square-icon .ck-feature-img, .ck-feature-circle-lg-icon .ck-feature-img, .ck-feature-square-lg-icon .ck-feature-img { background-color: #fff; border-color: rgba(23,50,164,0.10); }
/*===== testimonial =====*/
.ck-testimonial-icon::before { background-color: #ff5858; color: #fff; }
.ck-testimonial-user img { border-color: #ff5858; }
/*===== servicebox =====*/
.ck-servicebox { border-color: rgba(23,50,164,0.10); }
.ck-servicebox:hover { background-color: rgba(23,50,164,0.05); }
.ck-servicebox-number { color: rgba(23,50,164,0.10); }
.ck-servicebox:hover .ck-servicebox-number { color: rgba(23,50,164,0.10); }
/*===== blog items =====*/
.ck-post-img { border-color: rgba(23,50,164,0.10); }
.ck-blog-meta li a { color: rgba(25,28,47,0.65); }
.ck-blog-meta li a:hover { color: #1732a4; }
.ck-blog-meta li::before { color: #1732a4; }
.ck-blog-meta { border-color: #e7eaf6; }
.ck-blog-date { background-color: #ff5858; color: #fff; }
/*===== cta box =====*/
.ck-cta-box-icon { background-color: #fff; border-top-color: #fff; }
/*===== Accordion =====*/
.ck-accordion .card-header:first-child, .ck-accordion.accordion > .card:not(:first-of-type) .card-header:first-child { border-color: rgba(23,50,164,0.10); }
.ck-btn.accordion-btn-link.collapsed { background: none; color: #191c2f; }
.ck-btn.accordion-btn-link, .ck-btn.accordion-btn-link:hover { background: none; color: #191c2f; }
/* white text accordion */
.color-white .ck-btn.accordion-btn-link.collapsed { background: none; color: #fff; }
.color-white .ck-btn.accordion-btn-link, .color-white .ck-btn.accordion-btn-link:hover { background: none; color: #fff; }
.color-white .ck-accordion .card-header:first-child, .color-white .ck-accordion.accordion > .card:not(:first-of-type) .card-header:first-child { border-color: rgba(255, 255, 255, .10); }
.color-white .ck-accordion .card-body { color: rgba(255,255,255,.60) !important; }
/*== Sticky Tabs ==*/
.ck-sticky-tabs { background-color: #1732a4; }
.ck-sticky-tabs .nav-item:after { background-color: rgba(255, 255, 255, .10); }
.ck-sticky-tabs-nav .nav-link { color: #fff; }
.ck-sticky-tabs-nav .nav-link:hover, .ck-sticky-tabs-nav .nav-link.active { color: #ff5858; }
/*===== footer contact =====*/
.ck-contact-widget li i::after { background-color: rgba(255, 255, 255, .25); }
/*===== Video Play =====*/
/* white */
.video-button-light .ck-video-button-wrap-inner { background-color: #fff; }
.video-button-light .ck-video-button::after { color: #ff5858; }
.video-button-light .ck-border-animation { border-color: rgba(255, 255, 255, .5); }
/* white */
.video-button-dark .ck-video-button-wrap-inner { background-color: #11204d; }
.video-button-dark .ck-video-button::after { color: #fff; }
.video-button-dark .ck-border-animation { border-color: rgba(17, 32, 77, 0.4); }
/*===== social =====*/
.ck-social-circle .ck-social-list a, .ck-social-square .ck-social-list a { background-color: #1732a4; color: #fff !important; }
.ck-social-circle .ck-social-list a:hover, .ck-social-square .ck-social-list a:hover { background-color: #1732a4; color: #fff !important; }
/*----------------------------------------*/
/*----- Misc -----*/
/*----------------------------------------*/
.ck-border-top, .ck-border-right, .ck-border-bottom, .ck-border-left, .ck-border-top-2px, .ck-border-right-2px, .ck-border-bottom-2px, .ck-border-left-2px, .ck-border-2px, .ck-border-list li, .ck-half-border-list li:after { border-color: rgba(23,50,164,0.10); }
.ck-pipe-list li::after { border-color: rgba( 255, 255, 255, .2); }
/*===== slick carousel =====*/
.ck-slick-slider .slick-prev:before, .ck-slick-slider .slick-next:before { color: #ffffff; }
.ck-slick-slider .slick-prev, .ck-slick-slider .slick-next { background-color: #1732a4; border-color: #1732a4; }
.ck-slick-slider .slick-prev:hover, .ck-slick-slider .slick-next:hover { background-color: #191c2f; border-color: #191c2f; }
.ck-slick-slider .slick-prev:hover:before, .ck-slick-slider .slick-next:hover:before { color: #fff; }
.ck-slick-slider ul.slick-dots li button { background-color: #ff5858; opacity: .4; }
.ck-slick-slider ul.slick-dots li button:hover, .ck-slick-slider ul.slick-dots li.slick-active button { background-color: #ff5858; opacity: 1; }
/*===== accent bg hover =====*/
.accent-color { color: #1732a4 !important; }
/*===== accent link hover =====*/
.accent-color-hover:hover { color: #1732a4 !important; }